<!doctype html>
<html lang="ko">
<meta charset="utf-8">
<title>스타알바</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content=""/>
<meta name="robots" content="index, follow">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<link rel="canonical" href="">
<link rel="stortcut icon" href="/favicon.ico" type="image/x-icon">

<script src="../js/jquery-1.12.4.min.js"></script>

<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/commonui.css">
<link rel="stylesheet" href="../css/slick.css">

<script src="../js/commonui.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/Modernizr.js"></script>

<!--[if lt IE 9]>
<script src="../js/html5shiv.js"></script>
<![endif]-->

</head>
<body>
<div id="wrap">
    <header>
        <div class="header-wrap layout">
            <a href="/" class="logo"><img src="../images/common/logo.svg" alt="staralba"></a>
            <div class="search-wrap">
                <div class="search-box">
                    <div class="input-box">
                        <input type="text" placeholder="검색어를 입력해주세요" id="search_input">
                        <button type="button">검색</button>
                    </div>
                    <select>
                        <option>매칭 신청서로 검색</option>
                    </select>
                </div>
                <div class="search-list">
                    <a href="#">[아이돌 5인조 모집]</a>
                    <a href="#">배우 매칭서</a>
                    <a href="#">화장품 모델 모집</a>
                    <a href="#">드라마 주연 모집</a>
                    <a href="#">영화 엑스트라 모집</a>
                    <a href="#">화보 촬영 모집</a>
                    <a href="#">아이돌 5인조 모집]</a>
                </div>
            </div>

            <div class="util">
                <!-- 로그인 전 -->
                <div class="sign-box">
                    <p><a href="#">로그인 / 회원가입</a></p>
                </div>
                <!-- 로그인 후 -->
                <!--
                <div class="status">
                    <span class="point">200</span>
                    <span class="star-point">200</span>
                </div>
                -->
            </div>
        </div>
    </header>
    <div id="pages">
        <div class="contents">
            <div class="tab-type1">
                <div class="layout">
                    <a href="#">스타알바 이벤트</a>
                    <a href="#" class="active">제휴 이벤트</a>
                    <a href="#">오디션</a>
                </div>
            </div>
            <div class="board">
                <div class="layout">
                    <div class="event-view">
                        <div class="top">
                            <div class="img">
                                <img src="../images/@draft/event.png" alt="">
                            </div>
                            <div class="info-box">
                                <h3>대형기획사 부럽지 않을 데뷔예정 슈퍼 걸그룹, 마감임박</h3>
                                <dl>
                                    <dt>모집기간</dt>
                                    <dd>2020-03-10 ~ 2020-03-14</dd>
                                    <dt>모집 역할</dt>
                                    <dd>보컬</dd>
                                    <dt>성별</dt>
                                    <dd>성별 무관</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="bbs-contents">
                            <div class="txt-box">
                                이벤트 참여 방법은 세븐일레븐에서 5000원 이상(담배, 주류, 서비스 상품 제외) 상품을 구매하고 세븐일레븐 모바일앱(세븐앱) 적립 바코드를 스캔하면 된다. 1에서 45 사이의 번호 중 자동으로 추첨된 4개의 세븐로또 번호가 지급되며, 1인당 1일 1회에 한해 참여 가능하다. 세븐로또 이벤트는 1월 한 달간 진행된다.
                            </div>
                        </div>
                        <div class="bottom">
                            <button type="button">오디션 참가하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <address>
            <p class="info1">
                <span>(주)초코트리</span>
                <span>(06121) 서울특별시 강남구 봉은사로 129, 1113호 (논현동, 거평타운)</span>
            </p>
            <p class="info2">
                <span>대표 : 박건석</span>
                <span>사업자등록번호 480 - 81 - 01960</span><br>
                <span class="child3">통신판매업 신고번호 0000 - 00000</span>
                <span>E-Mail :  chocotree_inc@naver.com </span><br>
                <span class="child5">호스팅 사업자  :  (주)스마일서브 </span>
                <span>고객센터 Tel :  02 - 3442 - 7176 (7177)</span>
            </p>
        </address>
        <p class="copyright">Copyright chocotree_inc Service . All rights reserved.</p>
    </footer>
</div>
<div id="toolbar">
    <div class="star-app">
        <div class="app-wrap">
            <a href="#" class="app1 icon01">오늘의 알바스타</a>
            <a href="#" class="app1 icon02">별사탕 가게</a>
            <a href="#" class="app1 icon03">이벤트</a>
            <a href="#" class="app1 icon04">공지사항</a>
            <a href="#" class="app1 icon05">스타 톡</a>
            <a href="#" class="app2"><span>배우</span></a>
            <a href="#" class="app2"><span>모델</span></a>
            <a href="#" class="app2"><span>음악</span></a>
            <a href="#" class="app2"><span>공연<br>퍼포먼스</span></a>
            <a href="#" class="app2"><span>MC<br>아나운서</span></a>
            <a href="#" class="app2"><span>실버</span></a>
        </div>
    </div>
    <div class="inner">
        <a href="#" class="mypage">마이페이지</a>
        <a href="#null" class="star"></a>
        <a href="#" class="call-manager active">콜 매니저</a>
    </div>
</div>
</body>

</html>
