<!doctype html>
<html lang="ko">
<meta charset="utf-8">
<title>스타알바</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content=""/>
<meta name="robots" content="index, follow">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<link rel="canonical" href="">
<link rel="stortcut icon" href="/favicon.ico" type="image/x-icon">

<script src="../js/jquery-1.12.4.min.js"></script>

<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/commonui.css">
<link rel="stylesheet" href="../css/slick.css">

<script src="../js/commonui.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/Modernizr.js"></script>

<!--[if lt IE 9]>
<script src="../js/html5shiv.js"></script>
<![endif]-->

</head>
<body>
<div id="wrap">
    <header>
        <div class="header-wrap layout">
            <a href="/" class="logo"><img src="../images/common/logo.svg" alt="staralba"></a>
            <div class="search-wrap">
                <div class="search-box">
                    <div class="input-box">
                        <input type="text" placeholder="검색어를 입력해주세요" id="search_input">
                        <button type="button">검색</button>
                    </div>
                    <select>
                        <option>매칭 신청서로 검색</option>
                    </select>
                </div>
                <div class="search-list">
                    <a href="#">[아이돌 5인조 모집]</a>
                    <a href="#">배우 매칭서</a>
                    <a href="#">화장품 모델 모집</a>
                    <a href="#">드라마 주연 모집</a>
                    <a href="#">영화 엑스트라 모집</a>
                    <a href="#">화보 촬영 모집</a>
                    <a href="#">아이돌 5인조 모집]</a>
                </div>
            </div>

            <div class="util">
                <!-- 로그인 전 -->
                <div class="sign-box">
                    <p><a href="#">로그인 / 회원가입</a></p>
                </div>
                <!-- 로그인 후 -->
                <!--
                <div class="status">
                    <span class="point">200</span>
                    <span class="star-point">200</span>
                </div>
                -->
            </div>
        </div>
    </header>
    <div id="pages">
        <div class="contents">
            <div class="tab-type1">
                <div class="layout">
                    <a href="#">스타알바 이벤트</a>
                    <a href="#">제휴 이벤트</a>
                    <a href="#" class="active">오디션</a>
                </div>
            </div>
            <div class="board">
                <div class="layout">
                    <div class="event-slide">
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                        <div><a href="#"><img src="../images/@draft/event.png" alt=""></a></div>
                    </div>
                    <div class="title">
                        <h3>오디션</h3>
                    </div>
                    <div class="list2">
                        <ul>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="tit">마이 페이지 신 기능 추가</p>
                                    <span class="date">2020.12.28</span>
                                </a>
                            </li>
                        </ul>
                        <p class="total">
                            총 게시물 80개
                        </p>
                        <div id="pagenation">
                            <a href="#" class="prev"></a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#" class="next"></a>
                        </div>
                    </div>
                    <div class="bbs-search">
                        <div class="inner">
                            <select>
                                <option>제목 + 내용</option>
                                <option>제목</option>
                                <option>내용</option>
                            </select>
                            <input type="text" placeholder="검색어를 입력하세요.">
                            <button type="button">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <address>
            <p class="info1">
                <span>(주)초코트리</span>
                <span>(06121) 서울특별시 강남구 봉은사로 129, 1113호 (논현동, 거평타운)</span>
            </p>
            <p class="info2">
                <span>대표 : 박건석</span>
                <span>사업자등록번호 480 - 81 - 01960</span><br>
                <span class="child3">통신판매업 신고번호 0000 - 00000</span>
                <span>E-Mail :  chocotree_inc@naver.com </span><br>
                <span class="child5">호스팅 사업자  :  (주)스마일서브 </span>
                <span>고객센터 Tel :  02 - 3442 - 7176 (7177)</span>
            </p>
        </address>
        <p class="copyright">Copyright chocotree_inc Service . All rights reserved.</p>
    </footer>
</div>
<div id="toolbar">
    <div class="star-app">
        <div class="app-wrap">
            <a href="#" class="app1 icon01">오늘의 알바스타</a>
            <a href="#" class="app1 icon02">별사탕 가게</a>
            <a href="#" class="app1 icon03">이벤트</a>
            <a href="#" class="app1 icon04">공지사항</a>
            <a href="#" class="app1 icon05">스타 톡</a>
            <a href="#" class="app2"><span>배우</span></a>
            <a href="#" class="app2"><span>모델</span></a>
            <a href="#" class="app2"><span>음악</span></a>
            <a href="#" class="app2"><span>공연<br>퍼포먼스</span></a>
            <a href="#" class="app2"><span>MC<br>아나운서</span></a>
            <a href="#" class="app2"><span>실버</span></a>
        </div>
    </div>
    <div class="inner">
        <a href="#" class="mypage">마이페이지</a>
        <a href="#null" class="star"></a>
        <a href="#" class="call-manager active">콜 매니저</a>
    </div>
</div>
</body>
<script>

$('.event-slide').slick({
    infinite: true,
    centerMode: true,
    centerPadding: '305px',
    slidesToShow: 1,
    autoplay:false,
    dots: true,
    prevArrow: false,
    nextArrow: false,
    responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '0px',
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 640,
      settings: {
        arrows: false,
        centerMode: false,
        centerPadding: '0px',
        slidesToShow: 1,
      }
    }
  ]
});
</script>
</html>
