<!doctype html>
<html lang="ko">
<meta charset="utf-8">
<title>스타알바</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content=""/>
<meta name="robots" content="index, follow">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<link rel="canonical" href="">
<link rel="stortcut icon" href="/favicon.ico" type="image/x-icon">

<script src="../js/jquery-1.12.4.min.js"></script>

<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/commonui.css">
<link rel="stylesheet" href="../css/slick.css">

<script src="../js/commonui.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/Modernizr.js"></script>

<!--[if lt IE 9]>
<script src="../js/html5shiv.js"></script>
<![endif]-->

</head>
<body>
<div id="wrap">
    <div class="signup">
        <div class="layout">
            <h1 class="logo"><a href="#"><img src="../images/common/logo.svg" alt="staralba"></a></h1>
            <div class="box complete">
                <p class="txt"><span>대표가입자</span>의 본인인증을 확인하였습니다.</p>
                <p class="txt2 color-pink">
                    <i><img src="../images/contents/signup_icon06.png" alt=""></i>
                    <br>인증확인
                </p>
                <a href="#" class="btn">다음</a>
            </div>
        </div>
    </div>
</div>
<div id="toolbar">
    <div class="star-app">
        <div class="app-wrap">
            <a href="#" class="app1 icon01">오늘의 알바스타</a>
            <a href="#" class="app1 icon02">별사탕 가게</a>
            <a href="#" class="app1 icon03">이벤트</a>
            <a href="#" class="app1 icon04">공지사항</a>
            <a href="#" class="app1 icon05">스타 톡</a>
            <a href="#" class="app2"><span>배우</span></a>
            <a href="#" class="app2"><span>모델</span></a>
            <a href="#" class="app2"><span>음악</span></a>
            <a href="#" class="app2"><span>공연<br>퍼포먼스</span></a>
            <a href="#" class="app2"><span>MC<br>아나운서</span></a>
            <a href="#" class="app2"><span>실버</span></a>
        </div>
    </div>
    <div class="inner">
        <a href="#" class="mypage">마이페이지</a>
        <a href="#null" class="star"></a>
        <a href="#" class="call-manager active">콜 매니저</a>
    </div>
</div>
</body>

</html>
