<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div id="toolbar" th:fragment="footerFragment">
        <div class="star-app">
            <div class="app-wrap">
                <a href="#" class="app1 icon01">오늘의 알바스타</a>
                <a href="#" class="app1 icon02">별사탕 가게</a>
                <a href="#" class="app1 icon03">이벤트</a>
                <a href="#" class="app1 icon04">공지사항</a>
                <a href="#" class="app1 icon05">스타 톡</a>
                <a href="#" class="app2"><span>배우</span></a>
                <a href="#" class="app2"><span>모델</span></a>
                <a href="#" class="app2"><span>음악</span></a>
                <a href="#" class="app2"><span>공연<br>퍼포먼스</span></a>
                <a href="#" class="app2"><span>MC<br>아나운서</span></a>
                <a href="#" class="app2"><span>실버</span></a>
            </div>
        </div>
        <div class="inner">
            <a href="#" class="mypage">마이페이지</a>
            <a href="#null" class="star"></a>
            <a href="#" class="call-manager active">콜 매니저</a>
        </div>
  </div>
</html>